.header {
  padding-top: 43px;
  padding-bottom: 43px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  font-family: sans-serif;
  color: var(--white);
  font-size: 17px;
  font-weight: 400;
  line-height: 2.7;
}

.header__link:hover {
  color: var(--mediterranean-sea);
}
