@font-face {
    font-family: "DM-sans";
    font-weight: 400;
    src: url('../../fonts/DMSans-Regular.ttf');
  }
  
  @font-face {
    font-family: "DM-sans";
    font-weight: 700;
    src: url("../../fonts/DMSans-Bold.ttf");
  }