.get-started {
  background-color: var(--thamar-black);
}

.get-started__container{
  display: flex;
}

.get-started__image img{
  width: 684px;
  height: auto;
}

.get-started__content{
  padding: 294px 60px 294px 60px;
}

.get-started__title {
  margin-bottom: 90px;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
}

.get-started__next {
  display: inline-block;
  position: relative;
  font-size: 75px;
  margin-right: 20px;
}

.get-started__next::before {
  content: '';

  position: absolute;
  bottom: -10px;
  left: 0;
  background-image: url('../../../images/vector.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 163px;
  height: 11px;
}

.get-started__title strong {
  font-size: 80px;
}
