.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__container{
    display: flex;
    justify-content: space-between;
}

.footer__logo{
    margin-bottom: 20px;
}

.footer__list{
    display: flex;
    gap: 12px;
}

.additional-information{
    display: flex;
    gap: 120px;

    color: var(--white);
}